<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDataMaster</title>
</head>

<body>
    <h1>BIENVENIDOS A POKEDATAMASTER!</h1>
    <div>
        <div>
            <h2>¿Que deseas hacer hoy?</h2>
        </div>

        <div>
            <a href="/create_pokemon">
                <button>crear un pokemon</button>
            </a>
        </div>

        <div>
            <a href="/create_trainner">
                <button>crear un entrenador</button>
            </a>
        </div>

        <div>
            <a href="/create_battle">
                <button>crear una batalla</button>
            </a>
        </div>


    </div>

</body>

</html>